.board-square {
  display: grid;
  place-content: center;
  width: 58px;
  height: 58px;
}

.black {
  background-color: #613d3d;
  border: 2px solid #613d3d;
}

.white {
  background-color: #f3ddcf;
  border: 2px solid #f3ddcf;
}

.selected {
  border: 2px solid rgba(255, 215, 0, 1);
  box-shadow: 0 0 5px rgba(255, 215, 0, 1);
}

.can_move {
  border: 2px solid rgba(81, 203, 238, 1);
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.cords {
  font-size: 0.6em;
}

.chessPiece {
  width: 40px;
  height: 40px;
}

.chessPiece:hover {
  cursor: grab;
}
