.app {
  height: 100vh;
  display: grid;
  place-content: center;
}

/* .background {
  width: 80vw;
  max-width: 800px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3ddcf;
} */
