.app {
  display: grid;
  place-content: center;
  height: 100vh;
}

.background {
  width: 80vw;
  max-width: 800px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3ddcf;
}
